@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./Inter/Inter-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('./Inter/Inter-SemiBold.ttf') format('truetype');
}